/* Home da página */

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.items {
    list-style: none;
    overflow: hidden;
    background-color: #7365B4;
    position: fixed;
    top: 0;
    width: 100%;
}

.itemMenu {
    float: right;
    color: white;
    padding: 15px 5px 15px 5px;
}

.itemLogo {
    float: left;
}

.itemMenu a {
    color: white;
    text-decoration: none;
    padding: 16px;
  }
  
  .itemMenu a:hover {
    background-color: #CAD5F3;
    color: black;
    transition: 0.5s;
  }

.sectionOne {
    background-color: #E8ECEF;
    height: 960px;
}
.containerOne {
    max-width: 1300px;
    margin: auto;
    color: black;
    display: flex;
    justify-content: space-between;
}

.texts h1 {
    padding-top: 80px;
    text-transform: uppercase;
    font-size: 16px; 
}

.texts h2 {
    font-weight: 300;
    font-size: 14px;
}

.presentation, .firstImage {
    padding-top: 40px;
}

.presentation {
    margin-top: 200px;
    padding-right: 140px;
    
}
.presentation #titlePresentation {
    font-size: 37px;
    font-weight: 500;
    padding-bottom: 20px;
}

.presentation #p2 {
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}

.cards {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding-right: 290px;
    width: 390px;
}

.cards strong {
    display: block;
}

.cardDiscord, .cardNewsletters {
    background-color: white;
    padding: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 160px;
}

.cards a {
    text-decoration: none;
}

.cardDiscord:hover, .cardNewsletters:hover {
    color: white;
    background-color: #7365B4;
    transition: 0.5s;
}

.cards img {
    width: 40px;
    padding: 5px;
    padding-right: 10px;
}

.firstImage img {
    width: 600px;
    margin-top: 120px;
}

/* Saiba mais */

.sectionTwo {
    background-color: #CAD5F3;
    height: 960px;
}

.containerTwo {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding-top: 200px;
    color: black;
}

.description {
    margin-top: 80px;
    margin-right: 140px;
}

#titleDescription {
    font-size: 37px;
    font-weight: 500;
    padding-bottom: 20px;
}

.description p {
    font-size: 14px;
    padding-bottom: 20px;
    max-width: 500px;
    text-align: justify;
}

.secondImage img {
    width: 600px;
    margin-top: 30px;
}

#star1 {
    float: left;
    width: 100px;
    padding: 50px 0px 0px 50px;
}

#star2 {
    float: right;
    width: 100px;
    padding: 0px 0px 50px 50px;
}

/* Contato */

.sectionThree {
    background-color: #E8ECEF;
    height: 960px;
}
.containerThree {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    padding-top: 150px;
  }
  
  .picture img {
    width: 800px;
  }
  
  .formContainer {
    margin-top: 155px;
    margin-right: 120px;
    max-width: 400px;
    float: right;
  }
  
  .formContainer h3 {
    font-weight: 500;
    font-size: 37px;
  }
  
  .formContainer p {
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
  }
  
  .mb {
    margin-bottom: 20px;
  }

  input,
  select {
    font-family: "Poppins", sans-serif;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    color: white;
    background-color: rgb(115, 101, 180);
    font-weight: bold;
    border-radius: 10px;
  }
  
  #button:hover {
    background-color: rgb(115, 101, 180);
    cursor: pointer;
  }

/* Contato */

.sectionFour {
    background-color: #E8ECEF;
}

#contato h4 {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

.socialMedias {
  display: flex;  
  justify-content: center;
  align-items: center;
  list-style: none;
}
.socialMedias img {
    width: 30px;
    padding: 15px;
}