* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
  background-color: rgb(250, 249, 249);
}

.items {
  list-style: none;
  overflow: hidden;
  background-color: rgb(176, 186, 240);
}

.itemMenu {
  float: right;
  font-weight: bold;
}

.itemMenu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.itemMenu a:hover {
  background-color: rgb(115, 101, 180);
}

.sectionOne {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  padding: 20px;
}

.picture img {
  width: 800px;
}

.formContainer {
  margin-top: 155px;
  margin-right: 120px;
  max-width: 400px;
  float: right;
}

.formContainer h1 {
  font-weight: bolder;
  font-size: 28px;
}

.formContainer p {
  font-weight: bold;
  font-size: 17px;
}

.mb {
  margin-bottom: 15px;
}

input,
select {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border: none;
  margin-bottom: 10px;
}

input[type="submit"] {
  color: white;
  /* background-color: #b0baf0; */
  background-color: rgb(115, 101, 180);
  font-weight: bold;
  border-radius: 5px;
}

#button:hover {
  background-color: rgb(115, 101, 180);
  cursor: pointer;
}

.sectionTwo {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  background-color: #b0baf0;
  border-radius: 10px;
  border-left: 2.5px solid rgb(117 111 143);
  border-bottom: 2.5px solid rgb(117 111 143);
  margin: auto;
  padding: 30px;
}

.text {
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
  padding-top: 20px;
}

.text p {
  margin-bottom: 15px;
}

.lamp {
  width: 60px;
  margin-top: 26px;
  padding-right: 20px;
}

.contact h4 {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}

.socialMedias {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#twitter,
#instagram,
#facebook {
  width: 20px;
  display: inline;
  padding: 10px;
}
/* @media screen and (max-width: 1258px) {
  .items {
    font-size: 1.2vw;
  }
  .picture img {
    width: 600px;
    margin-top: 62px;
    margin-left: 30px;
  }
  .formContainer {
    max-width: 300px;
  }
  .formContainer h1 {
    font-size: 1.8vw;
  }
  .formContainer p {
    font-size: 1.2vw;
  }
  input,
  select {
    font-size: 1vw;
    padding: 10px;
  }
  .sectionTwo {
    max-width: 65vw;
    max-height: 20vh;
  }
  .text {
    font-size: 1.3vw;
    padding: 10px;
  }
  .text p {
    margin-bottom: 10px;
  }
  .lamp {
    width: 4vw;
    padding-right: 0px;
  }
  .contact h4 {
    font-size: 12px;
  }
}
@media screen and (max-width: 970px) {
  .itemMenu {
    float: none;
    text-align: center;
  }
  .sectionOne {
    display: block;
    padding: 0;
  }
  .picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 75vw;
  }
  .formContainer {
    float: none;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 71vw;
  }
  .formContainer h1 {
    text-align: center;
  }
  .sectionTwo {
    display: flex;
    padding: 5vw;
    border-left: 0.5vw solid rgb(117 111 143);
    border-bottom: 0.5vw solid rgb(117 111 143);
  }
  .text {
    padding: 5px;
  }
  .lamp {
    width: 4vw;
    margin-top: 14px;
    margin-left: 5px;
  }
  .contact h4 {
    margin-top: 30px;
    font-size: 1.2vw;
  }
  #twitter,
  #instagram,
  #facebook {
    width: 2vw;
    display: inline;
    padding: 5px;
  }
} */
